@hit: #dbffdb;
@partial: rgb(247, 246, 172);
@missed: #ffdddd;

@hit-diff: #4FD94F;

// src/browse view
.codecov .codecov-removable {
}

.CodeMirror-code {
  .codecov-hit{
    background-color: @hit;
  }
  .codecov-partial {
    background-color: @partial;
  }
  .codecov-missed {
    background-color: @missed;
  }

  .CodeMirror-gutter-wrapper > .CodeMirror-gutter-elt > .codecov-hit {
    background-color: @hit-diff;
  }
}

// coming soon
.file-source-container{
  .highlight{
    >pre>*{
      position: relative;
      z-index: 2;
    }
    a.codecov{
      position: absolute;
      margin-left: -10px;
      padding: 1px 0px;
      width: 100%;
      height: 14px;
      display: block;
      &.codecov-on.codecov-hit{
        background: #dbffdb;
      }
      &.codecov-on.codecov-missed{
        background: #ffdddd;
      }
      &.codecov-on.codecov-partial{
        background: rgb(247, 246, 172);
      }
    }
  }
}
.udiff-line{
  .line-numbers.codecov{
    &.codecov-hit{
      background: #dbffdb;
    }
    &.codecov-missed{
      background: #ffdddd;
    }
    &.codecov-partial{
      background: rgb(247, 246, 172);
    }
  }
}
